# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Secrets & Environment variables (NEVER COMMIT)
.env

# Testing & IDE caches
.pytest_cache/
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Extracted data folder
extracted/
# Local secrets / env files
.env.*
*.pem
